@charset "utf-8";
/* CSS Document */

.style_h1{
	color:darkgoldenrod;
	background:white;
}
.noStyleLink{
	text-decoration:none;
	
	
}	
.noStyleLink:hover{
	text-decoration:none;
	
	
}
.borderMe{
	width:70%;
	border:1px solid lightgray;
	padding:5px;
	text-align:left;
	border-radius:5px;
	font-size:12px;	
}
.textLeft{
	text-align:left;	
}
#reviewFormBox{style="background: #FFF;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f0f0f0),color-stop(100%,white));
	background: -webkit-linear-gradient(top,#f0f0f0 0%,#FFF 100%);
	padding:10px;
	border:1px solid lightgray;
}
